<!-- CONTACT SECTION -->
<section class="contact-container" id="contact" data-stellar-background-ratio="0.5">
	<div class="inner-wrapper">
		<h3>Contact</h3>
		<div class="little-line light"></div>
		<p>Get in touch if you would like to work together, brain-storm, or just talk shop. I like coffee.</p>
		<div class="info-form-container">
			<div class="information">
				<h4>Let's work together!</h4>
				<div class="contact-box">
					<a href="https://twitter.com/rbnhmll" class="social-button"><i class="fa fa-twitter"></i></a>
					<a href="https://ca.linkedin.com/in/robin-hamill-86b19559" class="social-button"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/rbnhmll" class="social-button"><i class="fa fa-github"></i></a>
					<a href="https://codepen.io/rbnhmll" class="social-button"><i class="fa fa-codepen"></i></a>
				</div> <!-- /.contact-box -->
				<a href="mailto:hi@robinhamill.com" class="button email-btn">hi@robinhamill.com</a>
			</div> <!-- /.information -->
			
			<form action="https://formspree.io/hi@robinhamill.com" method="POST" class="contact-form">
				<div class="name-email-container">
					<input type="text" class="name-input" name="name" placeholder="Name">
					<input type="email" class="email-input" name="_replyto" placeholder="E-Mail">
				</div> <!-- /.name-email-container -->
				<textarea name="message" cols="30" rows="5" placeholder="Message"></textarea>
				<input type="text" name="_gotcha" style="display:none" />
				<div class="submit-container">
					<input type="submit" value="Send Message" class="submit-button">
				</div> <!-- /.submit-container -->
			</form> <!-- /.contact-form -->
		</div> <!-- /.info-form-container -->

	</div> <!-- /.inner-wrapper -->
	<%= link_to "#top", :class => "back-to-top", "data-turbolinks" => false, :target => "_blank" do %>
		<i class="fa fa-angle-up"></i>
	<% end %>
</section> <!-- /.contact-container