<!-- ABOUT SECTION -->
<section class="about-container" id="about">
	<div class="inner-wrapper">
		<h3>About</h3>
		<div class="little-line dark"></div>
		
		<div class="about-content">
			<div class="headshot-text-container">
				<div class="headshot">
					<%= image_tag('robinHeadshotSquare.jpg') %>
				</div> <!-- /.headshot -->
				<div class="about-text">
					<p>Hey! I&rsquo;m Robin, a <strong>Front-end Developer</strong> from Toronto. I love to build fun and functional stuff with code. I&rsquo;m a Bootcamp Grad from HackerYou, and a Ladies Learning Code mentor. I&rsquo;m currently working as a consultant at Rogers, specializing in digital optimization, and A/B testing.</p>

					<p>Most recently I picked up <strong>Ruby on Rails</strong>, and am having lots of fun building web apps, such as <%= link_to("bookbuddi.es", "http://www.bookbuddi.es") %>, and have a couple more projects in the works.</p>

					<p>When I&rsquo;m not coding, I enjoy rock climbing, cycling, travel and photography. Maybe we should work together!</p>
				</div> <!-- /.about-text -->
			</div> <!-- /.headshot-text-container -->
			
			<!-- Link to CV
			<%= link_to("View CV", "http://robinhamill.ca/robinHamill_cv.pdf" , class: "cv button") %>
			-->
			
		</div> <!-- /.about-content -->
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.about-container -->