<!-- ABOUT SECTION -->
<section class="about-container" id="about">
	<div class="inner-wrapper">
		<h3>Hi, I'm Robin</h3>
		<div class="little-line dark"></div>
		<div class="about-content">
			<div class="headshot-text-container">
				<div class="headshot">
					<%= image_tag('robinHeadshotSquare.jpg') %>
				</div> <!-- /.headshot -->
				<div class="about-text">
					<p>I'm an independent <strong>web application</strong> and <strong>ecommerce</strong> developer in Toronto. I build intuitive and functional web apps that engage users and solve problems.</p>
				</div> <!-- /.about-text -->
			</div> <!-- /.headshot-text-container -->
			<div class="cta cta--about">
				<a href="#contact" class="button">Let's Chat!</a>
			</div>

		</div> <!-- /.about-content -->
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.about-container -->