<!-- CONTACT SECTION -->
<section class="contact-container" id="contact" data-stellar-background-ratio="0.5">
	<div class="inner-wrapper">
		<h3>Get in touch</h3>
		<div class="little-line light"></div>
		<!-- <p>Get in touch if you would like to work together, brain-storm your idea, or just talk shop. I like to drink coffee.</p> -->
		<div class="info-form-container">
			<div class="information">
				<h4>Let's work together!</h4>
				<p>Get in touch if you would like to work together, brain-storm your big idea, or play foosball. I like to drink coffee.</p>
				<a href="mailto:hi@robinhamill.ca" class="button email-btn">hi@robinhamill.ca</a>
				<div class="or-badge">or</div>
			</div> <!-- /.information -->
			
			<form action="http://www.focuspocus.io/magic/4ab445983988546fd138dfdee3062637" method="POST" class="contact-form" id="contact-form">
				<div class="name-email-container">
					<label for="name">Name</label>
					<input id="name" type="text" class="name-input" name="name" placeholder="Name" required>
					<label for="email">Email</label>
					<input id="email" type="email" class="email-input" name="email" placeholder="E-Mail" required>
				</div> <!-- /.name-email-container -->
				<label for="message">Message</label>
				<textarea id="message" name="message" cols="30" rows="5" placeholder="Message"></textarea>
				<div style="display:none">
					<label for="denySubmit">Spam Control Text:</label>&nbsp;
					<input type="text" name="denySubmit" id="denySubmit" value="" alt="This field is used to prevent form submission by scripts.">&nbsp;Please leave this field empty
				</div>
				<div class="submit-container">
					<input type="submit" value="Send Message" class="submit-button">
				</div> <!-- /.submit-container -->
			</form> <!-- /.contact-form -->
		</div> <!-- /.info-form-container -->

	</div> <!-- /.inner-wrapper -->
	<%= link_to "#top", :class => "back-to-top", "data-turbolinks" => false, :target => "_blank", 'aria-label' => "Back to top" do %>
		<i class="fa fa-angle-up"></i>
	<% end %>

	<script>
		$(function() {
			// catch spam and deny submit
			$("#contact-form").submit(function(e){
				if($("#denySubmit").val() !== ""){
					return false;
				};
			});
		}());
	</script>
</section> <!-- /.contact-container