<!-- CONTACT SECTION -->
<section class="contact-container" id="contact" data-stellar-background-ratio="0.5">
	<div class="inner-wrapper">
		<h3 class="contact__heading">Get in touch</h3>
		<div class="little-line light"></div>
		<p class="contact__sub-heading">Get in touch if you would like to work together, brain-storm, or just talk shop. I like coffee.</p>
		<div class="info-form-container">
			<div class="contact-left">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo non excepturi consectetur debitis assumenda eaque neque deleniti eligendi quibusdam, amet reiciendis odit voluptate, omnis aspernatur laboriosam illum iste! Repudiandae, maxime.</p>
			</div>
			<div class="contact-right">
				<a href="mailto:hi@robinhamill.ca" class="button email-btn">Get in touch</a>
			</div>
		</div> <!-- /.info-form-container -->

	</div> <!-- /.inner-wrapper -->
	<%= link_to "#top", :class => "back-to-top", "data-turbolinks" => false, :target => "_blank" do %>
		<i class="fa fa-angle-up"></i>
	<% end %>
</section> <!-- /.contact-container