<!-- CONTACT SECTION -->
<section class="contact-container" id="contact" data-stellar-background-ratio="0.5">
	<div class="inner-wrapper">
		<h3>Get in touch</h3>
		<div class="little-line light"></div>
		<!-- <p>Get in touch if you would like to work together, brain-storm your idea, or just talk shop. I like to drink coffee.</p> -->
		<div class="info-form-container">
			<div class="information">
				<h4>Let's work together!</h4>
				<p>Get in touch with me if you would like to kickstart your next web-app or e-commerce store, brain-storm your big idea, or play Codenames. I like to drink coffee.</p>
				<a href="mailto:hi@robinhamill.com" class="button email-btn">hi@robinhamill.com</a>
				<div class="or-badge">or</div>
			</div> <!-- /.information -->
			
			<%= render 'pages/emailForm' %>

		</div> <!-- /.info-form-container -->

	</div> <!-- /.inner-wrapper -->
	<%= link_to "#top", :class => "back-to-top", "data-turbolinks" => false, :target => "_blank", 'aria-label' => "Back to top" do %>
		<i class="fa fa-angle-up"></i>
	<% end %>

</section> <!-- /.contact-container