<section class="home-container" data-stellar-background-ratio="1.5">
	<div class="inner-wrapper">
		<div class="tagline">
			<div class="wide-line animated fadeInLeftBig"></div>
			<h2 class="dev-name animated fadeIn">Robin Hamill</h2>
			<h3 class="site-description animated fadeIn">Front End Developer</h3>
			<div class="wide-line animated fadeInRightBig"></div>
		</div> <!-- /.tagline -->
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.home-container -->