<!-- SERVICES SECTION -->
<section class="services-container" id="services">
	<div class="inner-wrapper">
		<h3>Services</h3>
		<div class="little-line dark"></div>
		<p>I utilize an array of technical skills in my work, including: <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>SASS</strong>, <strong>Responsive Design</strong>, <strong>JavaScript</strong>, <strong>JQuery</strong>, <strong>Ruby/Ruby on Rails</strong>, and tools such as <strong>Command Line</strong>, <strong>Gulp</strong>, <strong>Git</strong>, and <strong>Photoshop</strong>. I’m happiest when I’m learning new tools and skills.</p>
		
		<!-- <div class="skill-icons">
			<span class="devicons devicons-html5" title="HTML5">
				<i class="devicon-html5-plain-wordmark colored"></i>
			</span>
			<span class="devicons devicons-css3" title="CSS3">
				<i class="devicon-css3-plain-wordmark colored"></i>
			</span>
			<span class="devicons devicons-sass" title="SASS">
				<i class="devicon-sass-original colored"></i>
			</span>
			<span class="devicons devicons-ruby" title="Ruby">
				<i class="devicon-ruby-plain-wordmark colored"></i>
			</span>
			<span class="devicons devicons-ruby_on_rails" title="Ruby on Rails">
				<i class="devicon-rails-plain-wordmark colored"></i>
			</span>
			<span class="devicons devicons-git" title="Git">
				<i class="devicon-git-plain colored"></i>
			</span>
			<span class="devicons devicons-javascript_badge" title="Javascript">
				<i class="devicon-javascript-plain colored"></i>
			</span>
			<span class="devicons devicons-jquery" title="jQuery">
				<i class="devicon-jquery-plain-wordmark colored"></i>
			</span>
			<span class="devicons devicons-gulp" title="Gulp">
				<i class="devicon-gulp-plain colored"></i>
			</span>
		</div> --> <!-- /.skill-icons -->
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.services-container -->