<!-- SERVICES SECTION -->
<section class="section services-container" id="services">
	<div class="inner-wrapper">
		<h3 class="section__title section__title--services">What I do</h3>
		<div class="little-line dark"></div>
		<div class="section__desc section__desc--services">
			<div class="services--lead">
				<h4>I offer a variety of web services including custom web applications, and Shopify ecommerce sites.<h4>
				<h4>Contact me below to chat about your next project.</h4>
			</div>
			<div class="services--sub">
				<p>I believe any business can benefit from a new perspective, and a fresh approach to improve experience.</p>
				<p>I would love to brainstorm about your next project, and explore ways of making your goals happen.</p>
			</div>
		</div>
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.services-container -->