<!-- SERVICES SECTION -->
<section class="services-container" id="services">
	<div class="inner-wrapper">
		<h3>Services</h3>
		<div class="little-line dark"></div>
		<p>I offer a variety of web services including custom web application builds, and <a href="https://www.shopify.com/" target="_blank">Shopify</a> ecommerce sites. Contact me below to chat about your project.</p>
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.services-container -->