<!-- SERVICES SECTION -->
<section class="section services-container" id="services">
	<div class="inner-wrapper">
		<h3 class="section__title section__title--services">What I do</h3>
		<div class="little-line dark"></div>
		<div class="section__desc section__desc--services">
			<div class="services--lead">
				<h4>I offer a variety of web services including Shopify ecommerce stores and custom web applications.<h4>
				<h4>Contact me below to chat about your next project.</h4>
			</div>
			<div class="services--sub">
				<p>Any business can benefit from a new perspective, and a fresh approach to improve the shopping experience.</p>
				<p>I would love to brainstorm about your next project, and explore ways of making your goals happen.</p>
			</div>
		</div>
		<div class="tech-icons">
			<div class="tech-icons__image">
				<%= image_tag('dev_icons/shopify.svg', title: 'Shopify' ) %>
			</div>
			<div class="tech-icons__image">
				<%= image_tag('dev_icons/vuejs.svg', title: 'Vue js') %>
			</div>
			<div class="tech-icons__image">
				<%= image_tag('dev_icons/react.svg', title: 'React') %>
			</div>
			<div class="tech-icons__image">
				<%= image_tag('dev_icons/rails.svg', title: 'Ruby on Rails') %>
			</div>
		</div>
		<%# <p>Just getting started with <a href="https://www.shopify.ca/free-trial?ref=rbnhmll">Shopify</a>? Sign up for a <a href="https://www.shopify.ca/free-trial?ref=rbnhmll">Free Trial</a>!</p> %>
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.services-container -->
