<section class="portfolio-container" id="portfolio">
	<div class="inner-wrapper">
		<h1><strong>EDIT</strong> an existing Project</h1>

		<%= render 'projectsForm' %>
	
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.portfolio-container -->