<section class="portfolio-container" id="portfolio">
	<div class="inner-wrapper">
		<h1>Add a <strong>NEW</strong> Project</h1>

		<%= render 'projectsForm' %>
	
	</div> <!-- /.inner-wrapper -->
</section> <!-- /.portfolio-container -->