.site-footer {
	padding: 75px 0 20px 0;
	background: $white;
	transform: skewY(-3deg);
	margin-bottom: -20px;
	box-shadow: 0 135px 0 $white;
	.inner-wrapper {
			transform: skewY(3deg);
	}
}

.site-info {
	text-align: center;
	text-transform: uppercase;
	p {
		margin-top: 20px;
		font-size: .6rem;
		letter-spacing: 2px;
	}
}