.services-container {
	padding: 100px 0;
	background: $white;
	transform: skewY(-3deg);
	.inner-wrapper {
		transform: skewY(3deg);
	}
}

.section__desc--services {
	display: flex;
	justify-content: space-between;
	.services--lead {
		color: $blue;
		width: 48%
	}
	.services--sub {
		width: 48%;
	}
	@media all and (max-width: 900px) {
		flex-direction: column;
		text-align: center;
		.services--lead,
		.services--sub {
			width: 75%;
			margin: auto;
		}
	}
}

.services__item {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 100px 0;
	@media all and (max-width: 900px) {
		flex-direction: column;
	}
	.services__image {
		width: calc(45% - 59px);
		@media all and (max-width: 900px) {
			width: 100%;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
	.services__text {
		position: relative;
		width: calc(50% + 59px);
		@media all and (max-width: 900px) {
			width: 100%;
			padding: 25px 0 50px 0;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 15px;
		}
		p {
			a {
				color: $darkgrey;
				font-weight: 300;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.services__list {
	padding-left: 0;
	list-style-type: none;
}

.services__desc {
	text-align: left;
}

.tech {
	display: inline-block;
	padding: 3px 5px;
	margin-bottom: 5px;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	font-size: .8rem;
	& + .tech {
		margin-left: 15px;
	}
}

.tech-icons {
	max-width: 500px;
	margin: 5% auto 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&__image {
		flex-basis: 15%;
	}
	img {
		display: block;
		width: 100%;
	}
}