.portfolio-container {
	color: $white;
	padding: 100px 0;
	@media all and (max-width: 410px) {
		padding: 100px 0 50px 0;
	}
	h3 {
	}
}

.portfolio-screenshot {
	width: 100%;
}

.portfolio-item {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 100px 0;
	@media all and (max-width: 900px) {
		flex-direction: column;
	}
	.portfolio-image,
	.portfolio-gallery {
		width: calc(45% - 59px);
		@media all and (max-width: 900px) {
			width: 100%;
		}
		img {
			width: 100%;
			display: block;
		}
	}
	.portfolio-gallery {
		.gallery-image {
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.portfolio-text {
		position: relative;
		width: calc(50% + 59px);
		@media all and (max-width: 900px) {
			width: 100%;
			padding: 25px 0 50px 0;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 15px;
		}
		p {
			color: $lightgrey;
			a {
				color: $darkgrey;
				font-weight: 300;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.portfolio-text .projectButtons {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;

	@media all and (max-width: 900px) {
		justify-content: center;
		position: static;
	}
}

.button {
	color: $white;
	border: 3px solid $white;
	text-decoration: none;
	display: inline-block;
	&:hover,
	&:focus {
		background: $white;
		color: $black;
	}
}

.portfolio-text .button + .button {
	margin-left: 15px;
}

.gallery_input {
	border: 1px solid white;
	padding: 5px;
}

.portfolio__description {
	display: flex;
	padding: 50px 0;
	@media screen and (max-width: 600px) {
		flex-direction: column;
		.botton {
			margin: auto
		}
	}
	.portfolio__meta {
		text-align: center;
	}
	.portfolio__meta,
	.portfolio__long_description {
		p {
			margin: 27px 0;
			color: $lightgrey;
		}
		width: 50%;
		@media screen and (max-width: 600px) {
			width: 100%;
		}
	}
}

.portfolio__tags {
	margin-top: 50px;	
}

.portfolio__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.gallery-image {
		width: 50%;
		@media screen and (max-width: 600px) {
		width: 100%;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
}