.portfolio-container {
	color: $white;
	padding: 100px 0;
	@media all and (max-width: 410px) {
		padding: 100px 0 50px 0;
	}
	h3 {
	}
}

.portfolio-screenshot {
	max-width: 100%;
}

.portfolio-item {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 100px 0;
	@media all and (max-width: 900px) {
		flex-direction: column;
	}
	.portfolio-image,
	.portfolio-gallery {
		width: calc(45% - 59px);
		@media all and (max-width: 900px) {
			width: 100%;
		}
		img {
			max-width: 100%;
			display: block;
		}
	}
	.portfolio-gallery {
		.gallery-image {
			width: 100%;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.portfolio-text {
		position: relative;
		width: calc(50% + 59px);
		@media all and (max-width: 900px) {
			width: 100%;
			padding: 25px 0 50px 0;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 15px;
		}
		p {
			color: $lightgrey;
			a {
				color: $darkgrey;
				font-weight: 300;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.tech {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 15px;
	margin-bottom: 5px;
	border-top: 1px solid $white;
	border-bottom: 1px solid $white;
	font-size: .8rem;
}

.portfolio-text .projectButtons {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;

	@media all and (max-width: 900px) {
		left: 50%;
		transform: translateX(-50%);
	}
}

.portfolio-text .button {
	color: $white;
	border: 3px solid $white;
	text-decoration: none;
	&:hover,
	&:focus {
		background: $white;
		color: $black;
	}
}

.portfolio-text .button + .button {
	margin-left: 15px;
}

.gallery_input {
	border: 1px solid white;
	padding: 5px;
}

.portfolio__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.gallery-image {
		width: 50%;
		img {
			max-width: 100%;
		}
	}
}