// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.

.project__new,
.project__edit {
	padding: 50px; 
	margin-top: 200px;
	background: $white;
}

.field {
	label {
		display: inline-block;
		width: 100px;
		text-align: right;
	}
	textarea {
		min-height: 150px;
	}
	textarea,
	input {
		display: inline-block;
		width: 300px;
	}
	.gallery_order {
		width: 45px;
	}
}
