// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project__new,
.project__edit {
	padding: 50px; 
	margin-top: 200px;
	background: $white;
}