@import "setup";
@import "font-awesome";
@import "github";
@import "prism";

// GLOBAL STYLES
body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding: 0 25px;
}

main.wrapper {
  padding: 25px;
}

header,
footer {
  background: #272822;
  color: rgba(255,255,255,0.75);
  a {
    color: inherit;
  }
}

main {
  background: white;
}

footer {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}